<div name="name" class="content">
    <div class="description">
        <h1>About Me</h1>
        <p>A New Jersey native, Luc-Paul began his career in design working on various public art projects in Jersey City, collaborating with  both professional and student muralists, and curators and later coordinating the design process. During his studies Luc-Paul built his technical and conceptual design skills, earning a Bachelor of Architecture from  New Jersey Institute of Technology. Through every step of the design process, Luc-Paul strives to integrate the design and leadership skills he developed in his career in the public art space and his study of architectural design</p>
    </div>
    <img src="assets/img/profile.jpeg">
</div>
