<mat-toolbar class="nav" color="primary">
    <span class="welcome">Welcome</span>
    <span class="nav-link">Home</span>
    <span class="nav-link">About</span>
    <span class="nav-link">Four Freedoms Foundation</span>
    <span class="nav-link">Summit: Graduate Housing</span>
    <span class="nav-link">Park Trifecta </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
