<div class="content">
    <img src="assets/img/park1.jpg" alt="">
    <div class="description">
        <h1>
            Park Trifecta
        </h1>
        <p>After analysis of the community around West Side Park in Newark New Jersey, a set of programs including student work spaces,
            a cafe, bookstore, library, multipurpose space and exhibition space were introduced to the site. I wanted to address the existing
            staircase “shelf” condition of the landscape in an additive and transformative way. Inserting volumes into the shelf-like space
            and pushing the stairs into those volumes with glazed facades resulted in a transparent relationship with the community.</p>
    </div>
    
</div>

<div class="content-m">
    <div class="img-gallary">
        <h1>
            Park Trifecta
        </h1>
        <p>After analysis of the community around West Side Park in Newark New Jersey, a set of programs including student work spaces,
            a cafe, bookstore, library, multipurpose space and exhibition space were introduced to the site. I wanted to address the existing
            staircase “shelf” condition of the landscape in an additive and transformative way. Inserting volumes into the shelf-like space
            and pushing the stairs into those volumes with glazed facades resulted in a transparent relationship with the community.</p>
        <img src="assets/img/park1.jpg" alt="">
    </div>
</div>


<div style="margin: 30px;" class="content">
    <img style="width: 69%;" src="assets/img/final_plan.png">
    <img style="width: 29%;" src="assets/img/park_model.jpeg">
</div>

<div #largegal  class="img-gallary">
    <img src="assets/img/level11.jpg" alt="">
</div>

