<div class="content">
    <div class="description">
        <h1>
            Summit Plaza: Graduate Student Housing
        </h1>
        <p>Summit Plaza is centered around a sense of community, activated by shared space between residents and public landscape and
            programmatic elements to create engagement with the city of Newark. The shared landscaped terraces within the project, overlook
            a public plaza which connects to commercial space to serve the neighborhood. The fanning shape of the terraces allows for light
            and air flow to reach the inner courtyard where residents can enjoy exterior space.</p>
    </div>
    <img src="assets/img/housing11.png" alt="">
</div>

<div class="content">
    <div class="description">
        <h1>
            Summit Plaza: Unit Plans
        </h1>
        <p>An adjustable grid was used to generate each unit type
            for the graduate student housing. The grid also adjusts to create the communal terraces by allowing the massing to “step back”
            with each grid change.</p>
    </div>
    <img src="assets/img/unit_plans11.png" alt="">
</div>

<div class="content-m">
    <div class="img-gallary">
        <h1>Summit Plaza: Graduate Student Housing</h1>
        <p>Summit Plaza is centered around a sense of community, activated by shared space between residents and public landscape and
            programmatic elements to create engagement with the city of Newark. The shared landscaped terraces within the project, overlook
            a public plaza which connects to commercial space to serve the neighborhood. The fanning shape of the terraces allows for light
            and air flow to reach the inner courtyard where residents can enjoy exterior space.</p>
        <img src="assets/img/housing11.png" alt="">
        
        <h1>Summit Plaza: Unit Plans</h1>
        <p>An adjustable grid was used to generate each unit type
            for the graduate student housing. The grid also adjusts to create the communal terraces by allowing the massing to “step back”
            with each grid change.</p>
        <img src="assets/img/unit_plans11.png" alt="">
    </div>
</div>

<div #largegal  class="img-gallary">
    <img src="assets/img/lighting_model.png" alt="">
    <img src="assets/img/housing_demo.jpg" alt="">
</div>
