
<mat-toolbar class="nav" color="primary">
    <span class="welcome">Welcome</span>
    <span class="nav-link" (click)="scroll(home)">Home</span>
    <span class="nav-link" (click)="scroll(about)">About</span>
    <span class="nav-link" (click)="scroll(freedom)">Four Freedoms Foundation</span>
    <span class="nav-link" (click)="scroll(summot)">Summit: Graduate Housing</span>
    <span class="nav-link" (click)="scroll(park)">Park Trifecta </span>
    <span class="nav-link" (click)="scroll(art)">My Art Work </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<div #home>
    <app-home></app-home>
</div>

<div #about>
    <app-about></app-about>
</div>
<div #freedom>
    <app-work1></app-work1>
</div>
<div #summot>
    <app-work2></app-work2>
</div>
<div #park>
    <app-work3></app-work3>
</div>
<div #art>
    <app-work4></app-work4>
</div>
