div{
    border: 0px solid white
}
.content{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 750px;
    padding: 15px;
    margin-left: 50px;
}

.right{
    width: 69%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.left{
    width: 30%;
    height: 100%;
}

h1{
    font-size: 48px;
    color: white;
}

p{
    font-size: 30px;
    color: rgb(219, 219, 219);
}

.content-m{
    display: none;
}

@media only screen and (max-width: 400px) {
    .content{
        display: none;
     }
     .content-m{
        display: block;
        width: 90%;
        height: fit-content;
        padding: 15px;
    
        margin-top: 50px;
    }

    .img-gallary img{
        width: 90%;
        margin: 10px;

    }
    img{
        width: 390px;
    }
    p{
        color: white;
        font-size: 20px;
        width: 90%;
        
    }
}


