

<div class="content">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <h1>Four Freedoms Foundation</h1>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/img/Museum1.png">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/img/museum_imgs2.png">
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Located on Roosevelt Island, the Four Freedoms Foundation museum utilizes an open ended interpretation of Roosevelts Four
                Freedoms Speech through a variety of spatial experiences scattered across a “field condition”. Each of the galleries can be utilized
                freely by curators, to convey their interpretations of the Four Freedoms philosophy set forth by Roosevelt related to freedom from
                fear, and want and freedom of speech and worship. This emphasizes a universal and ever-changing identity throughout time. A
                sense of freedom, fluid movement and visibility between inside and outside unifies the Four Freedoms Gallery's experience.</p>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <p>The Four Freedoms Foundation utilizes living materials native to the region in the design to provide food and habitat for native
                insects and birds. The garden terrace green wall features six different species, five of which are native to the area. English Ivy
                (Hedera helix) and Woodland stonecrop (Sedum ternatum) an evergreen vine and succulent evergreen provide yearlong green
                materiality. The remaining five species serve as colorful, changing materials with a variety of bloom periods throughout the year.</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/img/museum_imgs1.png">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/img/Museum2.png">
        </mat-grid-tile>
        <mat-grid-tile>
            <p>The screened light wells in the Four Freedoms Galleries are placed in the darkest areas of the plan to bring diffused light down to
                the ground plane. Each screened space is sized to accommodate small exhibitions and installations while still allowing
                visitor movement through the space and view across the “field”. Visitors can flow along curved exhibition surfaces and through
                and around exterior exhibitions and garden terraces.</p>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="img-gallary">
        <img src="assets/img/museum_plans1.jpg">
        <img src="assets/img/museum_plans2.jpg">
        <img src="assets/img/ffcombine.jpg">
        <img src="assets/img/ffmodel.png">
    </div>
</div>

<div class="content-m">
    <div class="img-gallary">
        <h1>Four Freedoms Foundation</h1>
        <p>Located on Roosevelt Island, the Four Freedoms Foundation museum utilizes an open ended interpretation of Roosevelts Four
            Freedoms Speech through a variety of spatial experiences scattered across a “field condition”. Each of the galleries can be utilized
            freely by curators, to convey their interpretations of the Four Freedoms philosophy set forth by Roosevelt related to freedom from
            fear, and want and freedom of speech and worship. This emphasizes a universal and ever-changing identity throughout time. A
            sense of freedom, fluid movement and visibility between inside and outside unifies the Four Freedoms Gallery's experience.</p>
        <img src="assets/img/Museum1.png">
        <img src="assets/img/museum_imgs2.png">
        <p>The screened light wells in the Four Freedoms Galleries are placed in the darkest areas of the plan to bring diffused light down to
            the ground plane. Each screened space is sized to accommodate small exhibitions and installations while still allowing
            visitor movement through the space and view across the “field”. Visitors can flow along curved exhibition surfaces and through
            and around exterior exhibitions and garden terraces.</p>
        <img src="assets/img/museum_plans1.jpg">
        <img src="assets/img/museum_plans2.jpg">
        <img src="assets/img/ffcombine.jpg">
        <img src="assets/img/ffmodel.png">
    </div>
</div>